.contentContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px; 
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }